[mysqld]
#datadir=/var/lib/mysql/
#socket=/mnt/datos/mysql/mysql.sock

user=mysql
datadir=/mnt/datos/mysql/mysql
socket=/var/lib/mysql/mysql.sock
default-character-set=latin1

log-update=/mnt/datos/log/mysql/log-update.log

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
# old-password=1;

[mysqld.server]
user=mysql
basedir= /mnt/datos/mysql/mysql



[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
