.rotar{
  border: 0px solid #dfdfdf;
  position: absolute;
  margin: 0;
  rotate: 90; 
}

img {
  width: 16.50cm;
  height: 7.00cm;
  display: none;
}

.cheque {
  left: 6.25cm;
  top: 0mm;
  width: 16.50cm;
  height: 7.00cm;
}

.fecha{
  top: 10.50cm;
  left: 11.50cm;
  width: 5.00cm;
  height: 0.50cm;
  text-align: center;
}

.monto{
  top: 12.00cm;
  left: 10.20cm;
  width: 4.00cm;
  height: 0.50cm;
  text-align: center;
}     
.beneficiario{
  top: 3.50cm;
  left: 10.10cm;
  width: 8.00cm;
  height: 0.50cm;
  text-align: left;
}     
.monto_letra{
  top: 2.50cm;
  left: 9.30cm;
  width: 13.00cm;
  height: 0.50cm;
  text-align: left;
}    